{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/calendar_form.css') }}" />
{% endblock %}

<div class="container ">
    {{ form_start(form) }}
    <div class="form-group">
            <div class="row">
                <div class="col md-4">
                    {{ form_row(form.title) }}
                </div>
                <div class="col md-4">
                    {{ form_row(form.command_number) }}
                </div>
                <div class="col md-4">
                    {{ form_row(form.pallets_number) }}
                </div>
            </div>
            <div class="row">
                <div class="col md-6 clockpicker">
                    {{ form_row(form.start) }}
                </div>
                <div class="col md-6 clockpicker">
                    {{ form_row(form.end) }}
                </div>
            </div>
            <div class="row">
                <div class="col md-6 clockpicker">
                    {{ form_row(form.come) }}
                </div>
                <div class="col md-6 clockpicker">
                    {{ form_row(form.deparure) }}
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col md-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col md-4">
                    {{ form_row(form.building) }}
                </div>
                <div id="form_dock" class="col md-4 form-dock-hidden">
                    {{ form_row(form.dock) }}
                </div>
                <div class="col md-4">
                    {{ form_row(form.driver) }}
                </div>
            </div>
            <div class="row">
                <div class="col md-6">
                    {{ form_row(form.customer) }}
                </div>
                <div class="col md-6">
                    {{ form_row(form.supplier) }}
                </div>
            </div>
            <div class="row">
                <div class="col md-6">
                    {{ form_row(form.description) }}
                </div>
                <div class="col md-6">
                    {{ form_row(form.platform) }}
                </div>
                
            </div>
            <div class="row">
                <div class="col md-6">
                    {{ form_row(form.comment) }}
                </div>
            </div>
            <div class="row color">
                <div class="col md-6">
                    {{ form_row(form.background_color, { 'attr': {'class': 'bg-color'} }) }}
                </div>
                <div class="col md-6">
                    {{ form_row(form.text_color, { 'attr': {'class': 'txt-color'} }) }}
                </div>
                <div class="row">
                    <div class="col md-2">
                        {{ form_row(form.checked, { 'attr': {'class': 'checked'}}) }}
                    </div>
                    <div class="col md-2">
                        {{ form_row(form.validated, { 'attr': {'class': 'validated'}}) }}
                    </div>
                    <div class="col md-6">
                        {{ form_row(form.speed_save, { 'attr': {'class': 'speedSave'}}) }}
                    </div>
                    <div class="col md-6">
                        {{ form_row(form.logistic_leader, { 'attr': {'class': 'leader'}}) }}
                    </div>
                </div>
            </div>
    </div>
    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <button class="green">{{ button_label|default('Enregister') }}</button>
    {% elseif app.user and 'ROLE_USER' not in app.user.roles %}
        <button class="green">{{ button_label|default('Enregister') }}</button>
    {% endif %}
    {% if app.user and 'ROLE_SUPER_ADMIN' in app.user.roles %}
    <button class="green">{{ button_label|default('Enregister') }}</button>
    {% endif %}
        
    {{ form_end(form) }}
</div>

{% block javascripts%}
    <script>   
        $('.clockpicker').clockpicker();
        $('.datepicker').datepicker();
    </script>

{% endblock %}