{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    .hidden {
      display: none;
    }
   
  </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ asset('css/calendar_edit_form.css') }}" />
{% endblock %}
{% block title %}Edit Calendar{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="flash-error">{{ message }}</div>
{% endfor %}
{% if app.session.flashBag.has('message') %}
<ul>
    {% for message in app.session.flashBag.get('message') %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{# formulaire #}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if calendar.validatedAt is not empty %}
                <h1>Consultation</h1>
            {% else %}
            <h1 class="brand-title">Modification</h1>
            {% endif %}
            <button class="blue" type="button" onclick="window.location.href='/calendar/view'">Retour au
                calendrier</button>
            <div class="container-fluid">
                <div class="col md-6">
                    <ul>
                        {% if calendar.checkedAt is empty %}
                        <li style="display:none">
                            {% if calendar.checkedAt is not empty %}
                                <span id="info">Le contrôle cariste à été effectué par {{calendar.checkedBy}} le: {{calendar.checkedAt|date('d/m/Y H:i:s') }}</span>
                            {% endif %}
                        </li>
                        {% else %}
                        <li>
                            {% if calendar.checkedAt is not empty %}
                                <span id="info">Le contrôle cariste à été effectué par {{calendar.checkedBy}} le: {{calendar.checkedAt|date('d/m/Y H:i:s') }}</span>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if calendar.validatedAt is empty%}
                        <li style="display: none;">
                            {% if calendar.validatedAt is not empty%}
                                <span id="info">La validation définitive a été effectuée par {{calendar.validatedBy}} le {{calendar.validatedAt|date('d/m/Y H:i:s') }}</span>
                            {% endif %}
                        </li>
                        {% else %}
                        <li>
                            {% if calendar.validatedAt is not empty%}
                                <span id="info">La validation définitive a été effectuée par {{calendar.validatedBy}} le {{calendar.validatedAt|date('d/m/Y H:i:s') }}</span>
                            {% endif %}
                        </li>
                        {% endif %}

                        {% if calendar.emailComeAt is empty %}
                            <li style="display:none;">
                                {% if calendar.emailComeAt is not empty %}
                                <span id="info">Un mail est parti le : {{calendar.emailComeAt|date('d/m/Y H:i:s')}} vers le client {{ calendar.customer.name}}</span>
                                {% endif%}
                            </li>
                        {% else %}
                            <li>
                                {% if calendar.emailComeAt is not empty %}
                                <span id="info">Un mail est parti le : {{calendar.emailComeAt|date('d/m/Y H:i:s')}} vers le client {{ calendar.customer.name}}</span>
                                {% endif%}
                            </li>
                        {% endif%}

                        {% if calendar.emailDeparureAt is empty %}
                            <li style="display: none;">
                                {% if calendar.emailDeparureAt is not empty %}
                                <span id="info">Un mail est parti le : {{calendar.emailDeparureAt|date('d/m/Y H:i:s')}} vers le fournisseur {{ calendar.supplier.name}}</span>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>
                                {% if calendar.emailDeparureAt is not empty %}
                                <span id="info">Un mail est parti le : {{calendar.emailDeparureAt|date('d/m/Y H:i:s')}} vers le fournisseur {{ calendar.supplier.name}}</span>
                                {% endif %}
                            </li>
                        {% endif%}
                    </ul>
                </div>    
            </div>
            {# <div class="container">
                <h4>Débutez la prise en charge du camion</h4>
                <div class="row">
                    <div class="col md-6">
                        <button class="green" id="start-button">Début</button>
                    </div>
                    <div class="col md-6">
                        <button class="red" id="stop-button" disabled>Fin</button>
                    </div>
                </div>
            </div>
            <div id="timer" class="hidden">
                <span id="minutes">00</span>:<span id="seconds">00</span>
            </div>
             #}
           


            
            <div id="elapsed-time" class="hidden"></div>
            <div class="container ">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.startLoading, {'attr': {'type': 'button', 'class': 'start-button green', 'value': 'Start'}}) }}
                    {{ form_widget(form.stopLoading, {'attr': {'type': 'button', 'class': 'stop-button red', 'value': 'Stop', 'disabled': 'disabled'}}) }}
                    
                    <div class="timer hidden"></div>
                    {# <div id="your-form-durationLoading">

                        {{ form_row(form.durationLoading, {'attr': {'type': 'text', 'class': 'elapsed-time hidden'}}) }}
                    </div> #}
                    <div class="elapsed-time hidden"></div>
                    
                    <div class="row">
                        <div class="col md-4">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col md-4">
                            {{ form_row(form.command_number) }}
                        </div>
                        <div class="col md-4">
                            {{ form_row(form.pallets_number) }}
                        </div>
                    </div>
                    <div class="row">
                        {% if calendar.checkedAt is not empty %}
                            <div class="col md-4" style="display:none">
                                {{ form_row(form.driver) }}
                            </div>
                            <div class="col md-4" style="display:none">
                                {{ form_row(form.checked, { 'attr': { 'autocomplete': 'off' } }) }}
                            </div>
                        {% else %}
                        <span class="span-cariste">Validez le contrôle de votre reception / expédition avec votre code cariste</span>
                        <div class="col md-4">
                            {{ form_row(form.driver) }}
                        </div>
                        <div class="col md-4">
                            {{ form_row(form.checked, { 'attr': { 'autocomplete': 'off' } }) }}
                        </div>
                        {%endif%}
                    </div>
                    <div class="row">
                        {% if calendar.checkedAt is empty%}
                            <div class="col md-4" style="display:none">
                                {{ form_row(form.logistic_leader) }}
                            </div>
                            <div class="col md-4" style="display:none">
                                {{ form_row(form.validated, { 'attr': { 'autocomplete': 'off' } }) }}
                            </div>
                        {%else%}
                            {% if calendar.validatedAt is not empty%}
                                <div class="col md-4" style="display:none">
                                    {{ form_row(form.logistic_leader) }}
                                </div>
                                <div class="col md-4" style="display:none">
                                    {{ form_row(form.validated, { 'attr': { 'autocomplete': 'off' } }) }}
                                </div>
                            {% else %}
                                <span class="span-leader">Validez définitivement votre réception/expédition avec votre code responsable logistique</span>
                                <div class="col md-4">
                                    {{ form_row(form.logistic_leader) }}
                                </div>
                                <div class="col md-4">
                                    {{ form_row(form.validated, { 'attr': { 'autocomplete': 'off' } }) }}
                                </div>
                            {% endif %}
                        {% endif%}
                    </div>
                    
                    <div class="row">
                        <div class="col md-6 clockpicker">
                            {{ form_row(form.start) }}
                        </div>
                        <div class="col md-6 clockpicker">
                            {{ form_row(form.end) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col md-4">
                            {{ form_row(form.building) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col md-6">
                            {{ form_row(form.customer) }}
                        </div>
                        <div class="col md-6">
                            {{ form_row(form.supplier) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col md-6">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col md-6">
                            {{ form_row(form.platform) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col md-6">
                            {{ form_row(form.comment) }}
                        </div>
                    </div>
                    <div class="row color">
                        <div class="col md-6">
                            {{ form_row(form.background_color, { 'attr': {'class': 'bg-color'} }) }}
                        </div>
                        <div class="col md-6">
                            {{ form_row(form.text_color, { 'attr': {'class': 'txt-color'} }) }}
                        </div>
                    </div>
                </div>
                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                <div class="container">
                    <div class="row">
                        {% if calendar.validatedAt is not empty %}
                        {% else %}
                        <div class="col-md-8">
                            <button id="your-form" class="green">{{ button_label|default('Enregister') }}</button>
                        </div>
                        {%endif%}
                        {% if calendar.validatedAt is not empty or calendar.checkedAt is not empty%}
                        <div class="col md-4 speed-save" style="display:none">
                            {{ form_row(form.speed_save) }}
                        </div>
                        {% else %}
                        <div class="col md-4 speed-save">
                            {{ form_row(form.speed_save) }}
                        </div>
                        {% endif%}
                    </div>
                    {% elseif app.user and 'ROLE_USER' not in app.user.roles %}
                    <button id="your-form" class="green">{{ button_label|default('Enregister') }}</button>
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
            
        </div>
        {% if calendar.validatedAt is not empty %}
        {% else %}
        <div class="row">
            {{ include('calendar/_delete_form.html.twig') }}
        </div>
        {% endif %}
    </div>
    
    {% endblock %}
    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(function() {
              var startButton = $('.start-button');
              var stopButton = $('.stop-button');
              var timer = $('.timer');
              var elapsedTime = $('.elapsed-time');
              var durationLoading = $('#your-form-durationLoading');
          
              startButton.on('click', function() {
                var startTime = new Date();
                var elapsedSeconds = 0;
                startButton.attr('disabled', 'disabled');
                stopButton.removeAttr('disabled');
                timer.removeClass('hidden');
                var intervalId = setInterval(function() {
                  var now = new Date();
                  elapsedSeconds = (now - startTime) / 1000;
                  var minutesElapsed = Math.floor(elapsedSeconds / 60);
                  var secondsElapsed = Math.floor(elapsedSeconds - (minutesElapsed * 60));
                  timer.text(padNumber(minutesElapsed) + ':' + padNumber(secondsElapsed));
                }, 1000);
                stopButton.on('click', function() {
                  clearInterval(intervalId);
                  startButton.removeAttr('disabled');
                  stopButton.attr('disabled', 'disabled');
                  elapsedTime.text('Durée de la prise en charge camion: ' + formatElapsedTime(elapsedSeconds));
                  elapsedTime.removeClass('hidden');
                  durationLoadingField.val(formatElapsedTime(elapsedSeconds));
                  $('#your-form').submit();
                });
              });
              
              function formatElapsedTime(seconds) {
                var date = new Date(seconds * 1000);
                var hours = date.getUTCHours();
                var minutes = date.getUTCMinutes();
                var seconds = date.getUTCSeconds();
                return padNumber(hours) + ':' + padNumber(minutes) + ':' + padNumber(seconds);
              }
          
              function padNumber(num) {
                return num < 10 ? '0' + num : num;
              }
            });
          </script>

        
        
    {% endblock %}