<link rel="stylesheet" href="{{ asset('css/driver-checked.css') }}" />
{{ form_start(form) }}
            <div class="col md-6">
                <h1 style="font-size: 1.5em;">Validation Document + stock</h1>
            </div>
            <div class="col md-6" style="margin-bottom: 20px;">
                <span id="span-cariste">Attention, la validation de ce formulaire engage votre responsabilité</span>
            </div>
    <div class="container ">
        <div class="row">
            <div class="col md-6">
                {{ form_row(form.isDispatch) }}
            </div>
            <div class="col md-6">
                {{ form_row(form.isDelivery) }}
            </div>
        </div>
        <div class="row">
            <div class="col md-6">
                {{ form_row(form.isChargeable) }}
            </div>
            <div class="col md-6" id="transferCostField" style="display:none">
                {{ form_row(form.transferCost) }}
            </div>
        </div>
        <div class="row">
            <div class="col md-6">
                {{form_row(form.isTruckDocChecked)}}
            </div>
            <div class="col md-6">
                {{form_row(form.isStockMovement)}}
            </div>
        </div>
        <div class="row">
            <div class="col md-6">
                {{form_row(form.isAlcohol)}}
            </div>
        </div>
        <div class="row" id="AlcoholFields" style="display: none;">
            <div class="col md-6">
                {{form_row(form.isCustomDocChecked) }}
            </div>
            <div class="col md-6">
                {{form_row(form.commentApprehensionCustom)}}
            </div>        
        </div>
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <button class="green">{{ button_label|default('Enregister') }}</button>
        {% elseif app.user and 'ROLE_USER' not in app.user.roles %}
        <button class="green">{{ button_label|default('Enregister') }}</button>
        {% endif %}
        {% if app.user and 'ROLE_SUPER_ADMIN' in app.user.roles %}
        <button class="green">{{ button_label|default('Enregister') }}</button>
        {% endif %}
    </div>
{{ form_end(form) }}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
                var isChargeableCheckbox = document.getElementById('{{ form.isChargeable.vars.id }}');
                var transferCostField = document.getElementById('transferCostField');

                isChargeableCheckbox.addEventListener('change', function () {
                    transferCostField.style.display = this.checked ? 'block' : 'none';
                    var transferCostInput = transferCostField.getElementsByTagName('input')[0];
                    transferCostInput.required = this.checked;
                });
            });
        document.addEventListener('DOMContentLoaded', function () {
                var isAlcoholCheckbox = document.getElementById('{{ form.isAlcohol.vars.id }}');
                var AlcoholFields = document.getElementById('AlcoholFields');
                var isCustomDocCheckedInput = document.getElementById('{{ form.isCustomDocChecked.vars.id }}');

                isAlcoholCheckbox.addEventListener('change', function () {
                    if (this.checked) {
                        AlcoholFields.style.display = 'block';
                        isCustomDocCheckedInput.required = true;
                    } else {
                        AlcoholFields.style.display = 'none';
                        isCustomDocCheckedInput.required = false;
                    }
                });
            });
    </script>
{% endblock%}