{% block stylesheets %}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-DsK8uO7V1wE4y4qV4e9mPoh69aFvLmxZJ7rlFNtk8ODjrWV7w1cLuZh98VNG4+J9KjVtgyFNkrZIY+89SdC8nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}" />
{% endblock %}
{% block navbar %}
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                {% if app.user and 'ROLE_LOREAL' in app.user.roles %}
                {# <li><a href="{{path('app_calendar')}}">Planning</a></li> #}
                <li><a href="{{path('app_loreal')}}">Planning Détaillé</a></li>
                {% endif%}
                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Planning clients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('app_loreal')}}">Loreal</a></li>
                        <li><a class="dropdown-item" href="#">Goliate</a></li>
                        <li><a class="dropdown-item" href="#">Guerresheismer</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Planning transporteur
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{path('app_loreal')}}">CITRA</a></li>
                        
                    </ul>
                </li>
                <li><a href="/calendar/building/manager">Planning quais</a></li>
                <li><a href="{{path('app_driver')}}">Planning caristes</a></li>
                <li><a href="{{path('app_statistics')}}">Statistiques</a></li>
                <li><a href="{{path('admin')}}">Configuration</a></li>

                {% endif%}
                <li>{% if app.user %}
                    {# <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnectez vous {{ app.user.userIdentifier
                        }} </a> #}
                        <a id="link-logout" href="{{ path('app_logout') }}">
                            <img src="{{ asset('../image/logout_icon.png') }}" alt="Déconnexion" />
                            {{ app.user.userIdentifier }}
                        </a>
                    {# {% else %}
                    <a class="btn btn-success" href="{{ path('app_login') }}">Connexion</a> #}
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block javascipts%}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
{% endblock %}