{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('css/building_manager.css') }}" />
{% endblock %}
{% block navbar %}
{% include "./partials/_navbar.html.twig" %}
{% endblock navbar %}
{% block Body %}
<div class="container" style="padding-top: 85px;">
    <h1>Planning des quais</h1>

    {% set buildingNames = [] %}
    {% for buildingName, events in rdvsByBuilding %}
    {% set buildingNames = buildingNames|merge([buildingName]) %}
    {% endfor %}
    {% set customers = [] %}
    {% for buildingName, events in rdvsByBuilding %}
    {% for event in events %}
    {% set customer = event.customer %}
    {% if customer not in customers %}
    {% set customers = customers|merge([customer]) %}
    {% endif %}
    {% endfor %}
    {% endfor %}
    <div class="container">
        <form action="{{ path('app_building_export') }}" method="get">
            <div class="row">
                <div class="col md-4">
                    <label for="start_date">Date de début :</label>
                    <input type="date" name="start_date" id="start_date" class="form-control"
                        value="{{ app.request.query.get('start_date') }}" required>
                </div>
                <div class="col md-4">
                    <label for="end_date">Date de fin :</label>
                    <input type="date" name="end_date" id="end_date" class="form-control"
                        value="{{ app.request.query.get('end_date') }}" required>
                </div>
                <div class="col md-4">
                    <button type="submit" class="btn btn-primary mt-4">Exporter en CSV</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="filters">
            <form action="{{ path('app_building_manager') }}" method="GET">
                <label for="date">Filtre par date :</label>
                <input type="date" name="date" id="date" value="{{ app.request.query.get('date', now|date('Y-m-d')) }}" />
                <label for="customer">Filtre par client :</label>
                <select name="customer" id="customer">
                    <option value="all" {% if not app.request.query.get('customer') or app.request.query.get('customer')=='all'
                        %}selected{% endif %}>Tous</option>
                    {% for customer in customers|sort %}
                    <option value="{{ customer }}" {% if app.request.query.get('customer')==customer %}selected{% endif %}>{{
                        customer }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-success" type="submit">Filtrer</button>
            </form>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Time</th>
                {% for buildingName in buildingNames|sort %}
                <th>{{ buildingName }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for i in range(8, 17) %}
        <tr>
            <td>{{ i }}h00-{{ i+1 }}h00</td>
            {% for buildingName in buildingNames|sort %}
                {% set events = rdvsByBuilding[buildingName] %}
                {% if app.request.query.get('customer') != 'all' %}
                {% set events = events|filter(event => event.customer == app.request.query.get('customer')) %}
                {% endif %}
                {% set events = events|filter(event => event.start|date('Y-m-d') == app.request.query.get('date')) %}
                {% set eventFound = false %}
                {% for event in events %}
                    {% set eventStartHour = event.start|date('H') %}
                    {% set eventEndHour = event.end|date('H') %}
                    {% if eventStartHour <= i and eventEndHour > i %}
                        {% set nbEmplacement = eventEndHour - eventStartHour %}
                        <td onclick="window.location.href='/calendar/{{ event.id }}/edit';" style="cursor: pointer;">
                            {{ event.title }}
                            {{event.comandNumber}} <br>    
                            Nbre palettes : {{ event.palletsNumber }}<br>
                            Client : {{ event.customer }} <br>
                            transporteur : {{ event.transporter }} <br>
                            {% if event.checkedAt is not empty %}Controle cariste le : {{ event.checkedAt|format('d-m-Y') }}<br>{% endif %}
                            {% if event.validatedAt is not empty %}Validation logistique le : {{ event.validatedAt|format('d-m-Y') }}<br>{% endif %}
                        </td>
                        {% set eventFound = true %}
                    {% endif %}
                {% endfor %}
                {% if not eventFound %}
                    <td onclick="window.location.href='/calendar/new';" style="cursor: pointer;"></td>
                {% endif %}
            {% endfor %}
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}