
{% block body %}
<div class="card-deck">
        <div class="card">
            <div class="card-header">{{ driver.name }} {{ "now"|date("d/m/Y") }}</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nbr de palettes</th>
                            <th>Temps de déchargement estimé</th>
                            <th>Type</th>
                            <th>Client</th>
                            <th>Fournisseur</th>
                            <th>Bâtiment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.pallets_number }}</td>
                                <td>{{ event.time }}</td>
                                <td>{{ event.title }}</td>
                                <td>{{ event.customer }}</td>
                                <td>{{ event.supplier }}</td>
                                <td>{{ event.building }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
{% endblock%}
