{% extends 'base.html.twig' %}

{% block title %}Export csv{% endblock %}

{% block body %}
<h1>Export Calendar to CSV</h1>

{{ form_start(form) }}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}
{{ form_row(form.export) }}
{{ form_end(form) }}

{% if calenders %}
    <a href="{{ path('export_calendar_csv', { 'startDate': form.startDate.vars.value, 'endDate': form.endDate.vars.value }) }}" class="btn btn-primary">Download CSV</a>
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>All Day</th>
{% endblock %}
