{% extends 'base.html.twig' %}

{% block title %}Qualiservice Détails{% endblock %}

{% block body %}
    <div class="container">
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-primary" href="{{ path('app_delivery_schedule_index') }}">Retour à la liste</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-success"
                        href="{{ path('app_delivery_schedule_edit', {'id': delivery_schedule.id}) }}">Mofidier</a>
                </div>
                <div class="col-md-4">
                    {{ include('delivery_schedule/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <tbody>
            
                <tr>
                    <th>Jour d'appel</th>
                    <td>{{ delivery_schedule.dayCall ? delivery_schedule.dayCall|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Heure d'appel</th>
                    <td>{{ delivery_schedule.hoursCall ? delivery_schedule.hoursCall|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Heure d'arrivée</th>
                    <td>{{ delivery_schedule.arrivalTime ? delivery_schedule.arrivalTime|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Début rendez vous</th>
                    <td>{{ delivery_schedule.appointement ? delivery_schedule.appointement|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin rendez vous</th>
                    <td>{{ delivery_schedule.endingAppointement ? delivery_schedule.endingAppointement|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Heure de départ</th>
                    <td>{{ delivery_schedule.departureTime ? delivery_schedule.departureTime|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Numéro de commande</th>
                    <td>{{ delivery_schedule.commandNumber }}</td>
                </tr>
                <tr>
                    <th>Livraison/Expédition</th>
                    <td>{{ delivery_schedule.deliveredShipped }}</td>
                </tr>
                <tr>
                    <th>Batiment</th>
                    <td>{{ delivery_schedule.building }}</td>
                </tr>
                <tr>
                    <th>Platforme</th>
                    <td>{{ delivery_schedule.platform }}</td>
                </tr>
                <tr>
                    <th>Fournisseur</th>
                    <td>{{ delivery_schedule.supplier }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{{ delivery_schedule.customer }}</td>
                </tr>
                <tr>
                    <th>Cariste</th>
                    <td>{{ delivery_schedule.driver }}</td>
                </tr>
                <tr>
                    <th>Nombre de palettes</th>
                    <td>{{ delivery_schedule.palletsNumbers }}</td>
                </tr>
                <tr>
                    <th>Marchandise</th>
                    <td>{{ delivery_schedule.merchandise }}</td>
                </tr>
                <tr>
                    <th>Commentaire</th>
                    <td>{{ delivery_schedule.comment }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
{% endblock %}
